<a href="https://colab.research.google.com/github/mmdreza-ghorbani/Thesis_codes/blob/main/delete%20outliers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
import pandas as pd
newURL='/content/drive/My Drive/AIRNOW/'
df = pd.read_excel(newURL+'pm10_Imputation_GXBoost.xlsx')
url = '/content/drive/My Drive/AIRNOW/pm10.xlsx'
dfmain = pd.read_excel(url)
#newIndex.drop(newIndex[['mantaghe12','mantaghe10','mantaghe11','sadr','mantaghe4','parkRoz']], axis=1, inplace=True)
dfmain['Datetime'] = pd.DatetimeIndex(dfmain['Datetime'])
dfmain.set_index('Datetime',inplace = True)
newIndex = dfmain.sort_index()
#newIndex = newIndex['2017-01-01 00:00:00':'2021-01-01 00:00:00']
newIndex.astype(float)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

,mahalati,aghdasieh,parkRoz,pounak,pirouzi,tarbiatModares,setadBohran,shadAbad,sharif,mantaghe20,...,mantaghe10,mantaghe11,mantaghe16,mantaghe19,mantaghe21,mantaghe22,sadr,golbarg,masoudieh,fath
Datetime,,,,,,,,,,,,,,,,,,,,,
2017-01-01 00:00:00,182.0,87.0,158.0,157.0,199.0,192.0,145.0,163.0,159.0,NaN,...,NaN,NaN,NaN,NaN,190.0,NaN,NaN,217.0,NaN,183.0
2017-01-01 01:00:00,176.0,77.0,171.0,153.0,192.0,174.0,150.0,169.0,210.0,NaN,...,NaN,NaN,NaN,NaN,206.0,NaN,NaN,167.0,NaN,187.0
2017-01-01 02:00:00,200.0,79.0,171.0,120.0,198.0,173.0,149.0,167.0,197.0,NaN,...,NaN,NaN,NaN,NaN,244.0,NaN,NaN,146.0,NaN,184.0
2017-01-01 03:00:00,169.0,65.0,170.0,128.0,187.0,170.0,137.0,172.0,179.0,NaN,...,NaN,NaN,NaN,NaN,221.0,NaN,NaN,196.0,NaN,183.0
2017-01-01 04:00:00,170.0,62.0,151.0,131.0,185.0,122.0,137.0,196.0,144.0,NaN,...,NaN,NaN,NaN,NaN,270.0,NaN,NaN,165.0,NaN,199.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-06-29 14:00:00,127.0,NaN,NaN,105.0,127.0,127.0,129.0,126.0,110.0,111.0,...,NaN,NaN,83.0,158.0,117.0,91.0,NaN,90.0,95.0,106.0
2022-06-29 15:00:00,138.0,NaN,NaN,106.0,145.0,136.0,132.0,167.0,119.0,110.0,...,NaN,NaN,92.0,162.0,142.0,97.0,NaN,99.0,88.0,138.0
2022-06-29 16:00:00,143.0,NaN,NaN,112.0,132.0,131.0,135.0,169.0,112.0,108.0,...,NaN,NaN,99.0,162.0,133.0,109.0,NaN,101.0,85.0,133.0
2022-06-29 17:00:00,133.0,NaN,NaN,111.0,124.0,132.0,133.0,174.0,NaN,102.0,...,NaN,NaN,96.0,148.0,123.0,102.0,NaN,93.0,NaN,137.0
2022-06-29 18:00:00,130.0,NaN,NaN,108.0,116.0,92.0,123.0,130.0,NaN,95.0,...,NaN,NaN,86.0,134.0,125.0,106.0,NaN,91.0,NaN,119.0

In [ ]:
from sklearn.ensemble import IsolationForest
import numpy as np
# Using IsolationForest method
model=IsolationForest( max_samples='auto', contamination=float(0.1),max_features=1.0)
# Identify outliers in all datasets
x = model.fit_predict(df[['mahalati']])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but IsolationForest was fitted with feature names
  "X does not have valid feature names, but"

In [ ]:
df_zero = pd.DataFrame({
     'mahalatiDeleteOutlier': x.ravel()
   # 'price': price.ravel()
})  # 1st row as the column names
df.reset_index(inplace=True)
df_zero['Datetime'] = df['Datetime']
df_zero['Datetime'] = pd.DatetimeIndex(df_zero['Datetime'])
df_zero.set_index('Datetime',inplace = True)
df_zero = df_zero.sort_index()
df['Datetime'] = pd.DatetimeIndex(df['Datetime'])
df.set_index('Datetime',inplace = True)
df = df.sort_index()

In [ ]:
temp = dfmain['mahalati'].loc[df_zero['mahalatiDeleteOutlier'] == -1].isnull()

In [ ]:
 f = df[df.index.isin(temp.loc[temp == True].index)]['mahalati']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
 df.loc[df.index.isin(temp.loc[temp == True].index),'mahalati'] =  np.nan

In [ ]:
print(df.loc[df['mahalati'].isnull() == True])

                     index  mahalati  aghdasieh      pounak      pirouzi  \
Datetime
2022-04-08 06:00:00  46158       NaN  58.524158  148.929764  1122.245117
2022-04-08 07:00:00  46159       NaN  59.775955  137.113785   970.776855
2022-04-08 08:00:00  46160       NaN  58.828968   95.549835  1120.095459

                     tarbiatModares  setadBohran    shadAbad       sharif  \
Datetime
2022-04-08 06:00:00       74.718597   836.890869  218.907135  1016.355896
2022-04-08 07:00:00       64.686119  1108.034424  236.349930  1480.649414
2022-04-08 08:00:00       40.686474  1281.086426  399.212128  1695.395630

                     mantaghe20   mantaghe2  mantaghe16  mantaghe19  \
Datetime
2022-04-08 06:00:00  181.996277  418.630524  778.736206  239.577591
2022-04-08 07:00:00  172.741348  682.427979  840.252808  474.718170
2022-04-08 08:00:00  161.891006  951.937561  883.723450  771.658813

                     mantaghe21   mantaghe22     golbarg   masoudieh  \
Datetime
2022-04-08 06:00:00  272.683594   654.213684  469.762787  269.117737
2022-04-08 07:00:00  950.900574   869.949097  655.749146  325.882507
2022-04-08 08:00:00   38.624760  1085.843994  849.509094  446.182465

                           fath
Datetime
2022-04-08 06:00:00  711.918152
2022-04-08 07:00:00  412.861786
2022-04-08 08:00:00  775.819885

In [ ]:
display(g.loc[g.isnull() == True])

Datetime
2022-04-08 06:00:00   NaN
2022-04-08 07:00:00   NaN
2022-04-08 08:00:00   NaN
Name: mahalati, dtype: float64